.admin-worklist{
    list-style: none;
    margin:0;
    padding:0;
}
.admin-worklist li{
    display: inline-block;
    float: left;
    margin-top: 57px;
    text-align: center;
    margin-right:56px;
}
.admin-worklist li a{
    display: block;
}
.admin-worklist li a:hover{
    text-decoration: none;
}
.admin-worklist li a p{
    margin-top: 10px;
    font-size:20px;
    color:rgba(0,0,0,1);
}
.admin-worklist li:last-child{
    border:1px solid #cccccc;
    width: 93px;
    height: 93px;
    line-height: 93px;
}
.admin-worklist li:last-child a i{
    display: inline-block;
    font-size: 60px;
    vertical-align: middle;
}