
/* -----------------------------------------
   Header styles
----------------------------------------- */
#header {
  height: 90px;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 0;
  background:rgba(255,255,255,1);
  box-shadow: 0 2px 12px 0 rgba(221,221,221,0.5)
}
#header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#header.header-fixed {
  position: fixed;
}
#header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

/*logo*/
#header .navbar .navbar-logo {
  display: inline-block;
  padding-top:23px;
  width: 169px;
  margin-right: 0;
  margin-left:47px;
}

.top-nav{
  margin-top: 20px;
  margin-right:43px;
}

#header .navbar .nav li a {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: #333;
  width: auto;
  position: relative;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow-x: hidden;
  font-size: 14px;
  text-align: center;
  outline: none;
}
#header .navbar .nav li a:hover,
#header .navbar .nav li a:focus {
  background: #ffffff;
}
#header .navbar .nav-right li a{
  padding: 0;
}
#header .navbar .nav li a .navicon {
  float: left;
  margin: 12px 10px 0 0;
  width: 26px;
  height: 26px;
}
#header .navbar .nav li a .square-4 {
  position: absolute;
  top: 10px;
  right: 12px;
  border-radius: 100%;
}
.square-4 {
  display: inline-block;
  width: 5px;
  height: 5px;
}
.btn-account{
  margin-top: 10px;
  margin-left: 10px;
}
.btn-account .btn-sm{
  padding:3px 10px;
  font-size:14px;
  border-radius: 5px;
}
/* -----------------------------------------
   Sidebar styles
----------------------------------------- */
#sidebar {
  width: 300px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 90px;
  z-index: 99;
  /* ------------------ Sidebar navigation --------------------*/
  /* ------------------ Server stats in sidebar --------------------*/
}

#sidebar.sidebar-fixed {
  position: fixed;
}
#sidebar:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background:rgba(52,52,52,1);
  z-index: -1;
}
#sidebar .sidebar-inner {
  position: relative;
  width: auto;
  height: 100%;
}
#sidebar #sideNav li {
  float: left;
  width: 100%;
  margin-top: 0;
}
#sidebar #sideNav li a {
  padding: 15px 15px 15px 94px;
  position: relative;
  color: #768399;
  height: 50px;
  border-radius: 0;
  background:rgba(52,52,52,1);
  -webkit-transition: background;
  transition: background;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sidebar #sideNav li a i {
  font-size: 20px;
  margin-right: 15px;
  float: left;
  color: #ffffff;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: auto;
  margin-bottom: 0;
}
#sidebar #sideNav li a i.sideNav-arrow {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
#sidebar #sideNav li a i.s16 {
  right: 17px;
}
#sidebar #sideNav li a .notification {
  display: none;
}
#sidebar #sideNav li a.active {
  color: #fc3f2b;
}
#sidebar #sideNav li a:hover i,
#sidebar #sideNav li a.active i {
  color: #fc3f2b;
  text-shadow: none;
}
#sidebar #sideNav li a.expand {
  background:rgba(52,52,52,1);
}

#sidebar #sideNav li a.expand i {
  color: #fc3f2b;
}
#sidebar #sideNav li .sub {
  display: none;
}
#sidebar #sideNav li .sub a {
  background:rgba(52,52,52,1);
  padding-left:100px;
  border-right: 6px solid transparent;

}
#sidebar #sideNav li .sub a.active {
  background:rgba(77,77,77,1);
  font-weight: normal;
  border-right:6px solid  rgba(244,81,56,1);

}
#sidebar #sideNav li .sub a:hover {
  background:rgba(77,77,77,1);
  border-right:6px solid  rgba(244,81,56,1);

}


/* -----------------------------------------
   Right sidebar styles
----------------------------------------- */
#right-sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 50px;
  z-index: 999;
  overflow: hidden;
  border-left: 1px solid #e7e7e2;
  background: #f3f5f6;
  /*Hided Sidebar*/
}
#right-sidebar.hide-sidebar {
  margin-right: -280px;
}
#right-sidebar .sidebar-inner {
  position: relative;
  width: auto;
  height: 100%;
  padding-bottom: 45px;
  /* For chat window */
}
/* -----------------------------------------
   Content
----------------------------------------- */
#content {
  margin-left: 210px;
  padding-top:90px;
}
#content.sidebar-page {
  margin-left: 210px;
}
#content.full-page {
  margin-left: 0;
}
#content.offCanvas {
  width: 100%;
  margin-left: 210px;
}
#content.overLap {
  margin-left: 0;
}
#content .content-wrapper {
  height: auto;
  float: left;
  width: 100%;
  position: relative;
}
#content .content-wrapper .outlet {
  position: relative;
  padding: 0 20px;
}
#content .content-wrapper .heading:before,
#content .content-wrapper .heading:after {
  content: " ";
  display: table;
}
#content .content-wrapper .heading:after {
  clear: both;
}
#content .content-wrapper .heading h1.page-header {
  font-size: 24px;
  border-bottom: none;
  margin: 12.5px 0 12.5px 0;
  padding: 0;
  background: #ffffff;
  font-weight: 300;
  width: auto;
}
#content .content-wrapper .heading h1.page-header i {
  font-size: 42px;
  opacity: 0.1;
  filter: alpha(opacity=10);
  margin-right: 10px;
  float: none;
}
#content .content-wrapper .heading h1.page-header [class*="icomoon-"] {
  margin-top: -4px;
}
#content .content-wrapper .heading .breadcrumb {
  line-height: 20px;
  border-radius: 4px;
  background: #fff;
  padding: 15px;
  margin-bottom: 12.5px;
}
#content .content-wrapper .heading .breadcrumb i {
  color: #acb1b8;
  font-size: 16px;
  padding: 0 5px;
  margin-top: -3px;
}
#content .content-wrapper .heading .breadcrumb i.divider {
  padding-right: 0;
}
#content .content-wrapper .heading .breadcrumb > li {
  display: inline-block;
}
#content .content-wrapper .heading .breadcrumb > li + li:before {
  content: "";
  float: left;
  padding: 0 2px;
  color: #cccccc;
}
#content .content-wrapper .heading .option-buttons {
  float: right;
  width: auto;
  height: 50px;
  margin-bottom: 20px;
  margin-top: -120px;
  padding-left: 15px;
}
#content .content-wrapper .heading .option-buttons .dropdown-menu {
  margin-top: 15px;
}
#content .content-wrapper .heading .option-buttons .dropdown-menu:after,
#content .content-wrapper .heading .option-buttons .dropdown-menu:before {
  bottom: 100%;
  right: 12px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#content .content-wrapper .heading .option-buttons .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
  right: 13px;
}
#content .content-wrapper .heading .option-buttons .dropdown-menu:before {
  border-color: rgba(231, 231, 226, 0);
  border-bottom-color: #e7e7e2;
  border-width: 11px;
  margin-left: -11px;
}
#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar) > .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar) > .btn-group > .btn {
  padding: 12px;
}
#content .content-wrapper .heading .option-buttons .btn-toolbar:not(.note-toolbar) > .btn-group a {
  line-height: 24px;
}
#content .content-wrapper .heading .option-buttons .option-dropdown {
  width: 320px;
  padding: 10px;
  float: left;
}
#content .content-wrapper .heading .option-buttons #lock-timer {
  vertical-align: text-bottom;
}

/*footer*/
.footer{
  text-align: center;
  padding:15px;
  background: #f3f5f6;
}
.footer a{
  margin-left:15px;
}

