
/*index*/

.indextop-notice{
  font-size: 18px;
}
.xm-contbox{
  margin-bottom: 65px;
}
.xm-title{
  padding:6px 0;
  font-size:20px;
  color:rgba(244,81,56,1);
  background:rgba(244,81,56,0.1094);
}
.w160{
  width: 160px;
}
.w186{
  width:186px;
}
.p43{
  padding-left: 43px;
  padding-right:43px;
}
.xm-contbody h3{
  font-size:20px;
  font-weight: normal;
  margin-bottom: 0;
}
.worklist{
  list-style: none;
  margin:0;
  padding:0;
}
.worklist li{
  display: inline-block;
  float: left;
  margin-top: 57px;
  text-align: center;
  margin-right:225px;
}
.worklist li:nth-child(4n){
  margin-right:0;
}
.worklist li a:hover{
  text-decoration: none;
}
.worklist li a p{
  margin-top: 10px;
  font-size:20px;
  color:rgba(0,0,0,1);
}
.listmenu{
  max-width: 852px;
  margin:48px auto;
  left:50%;
  margin-left: -426px;

}
.listmenu button{
  width: 142px;
  font-size:20px;
}

/*批量删除*/
.xm-allbutton button{
  font-size: 18px;
  width: 135px;

}
/*右侧搜索*/
.right-search input {
  border: 1px solid #cccccc;
  background: none;
  height: 40px;
  padding-left: 40px;
  width: 100%;
  border-radius: 3px;
}
.right-search button {
  position: absolute;
  left: 8px;
  top: 8px;
  border: none;
  background: none;
}
.right-search button i {
  color: #acb1b8;
}

/*table*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 18px;
  border:1px solid transparent;
}

.table.applylisttable > thead > tr > th{
  padding:20px 10px;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
}
.table.applylisttable > thead > tr > th:first-child{
  border-left:1px solid #cccccc;
}
.table.applylisttable > thead > tr > th:last-child{
  border-right:1px solid #cccccc;
}
.table.applylisttable > thead > tr:first-child > th{
  border-top:1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.table-striped > tbody{

}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background:rgba(255,241,239,1);
}
.w170{
  width:170px;
}
.w140{
  width:140px;
}
.leaderlist label{
  font-weight: normal;
  font-size:18px;
}

.leaderlist-search {
  position: relative;
}
.leaderlist-search input {
  border: 1px solid #cccccc;
  background: none;
  height: 40px;
  padding-right: 40px;
  padding-left:10px;
  width: 100%;
  border-radius: 3px;
}

.leaderlist-search button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background: none;
}
.leaderlist-search button i {
  color: #acb1b8;
}
.lead-list{
  font-size:18px;
  height: 300px;
  overflow-y: scroll;
}
.lead-list label{
  font-weight: normal;
}
.modal-footer .btn{
  font-size: 18px;
}

.right-search{
  position: relative;


}





