
/*index*/

.indextop-notice{
  font-size: 18px;
}
.xm-contbox{
  margin-bottom: 65px;
}
.xm-title{
  padding:6px 0;
  font-size:20px;
  color:rgba(244,81,56,1);
  background:rgba(244,81,56,0.1094);
}
.p43{
  padding-left: 43px;
  padding-right:43px;
}
.xm-contbody h3{
  font-size:20px;
  font-weight: normal;
  margin-bottom: 0;
}
.worklist{
  list-style: none;
  margin:0;
  padding:0;
}
.worklist li{
  display: inline-block;
  float: left;
  margin-top: 57px;
  text-align: center;
  margin-right:225px;
}
.worklist li:nth-child(4n){
  margin-right:0;
}
.worklist li a:hover{
  text-decoration: none;
}
.worklist li a p{
  margin-top: 10px;
  font-size:20px;
  color:rgba(0,0,0,1);
}
.listmenu{
  max-width: 852px;
  margin:48px auto;
  left:50%;
  margin-left: -426px;

}
.listmenu button{
  width: 142px;
  font-size:20px;
}






