body {
    overflow-x: hidden;
    min-height: 100%;
    background: #ffffff;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    -webkit-transition: -webkit-transform 0.4s ease !important;
    transition: transform 0.4s ease !important;
    position: relative;
    font-family: Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,sans-serif,fantasy,cursive;
}
body.stop-scrolling {
    height: 100%;
    overflow: hidden;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
}
a:hover{
    color: rgba(244,81,56,1);
}

/* ------------------ Sizes --------------------*/

.vat {
    vertical-align: top !important;
}
.vam {
    vertical-align: middle !important;
}
.vab {
    vertical-align: bottom !important;
}
/* ------------------ Margins --------------------*/
.row.no-padding {
    margin-left: 0;
    margin-right: 0;
}
.row.no-padding [class^="col-"] {
    padding: 0;
}
.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.mt5{
    margin-top: 5px;!important;
}
.mt10{
    margin-top: 10px;!important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mr10{
    margin-right:10px;!important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
/* ------------------ Paddings --------------------*/
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}

/* ------------------ Typo --------------------*/
.strong {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.normal {
    font-weight: normal;
}

/* -----------------------------------------
   Header styles
----------------------------------------- */
#header {
    height: 90px;
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
    background:rgba(255,255,255,1);
    box-shadow: 0 2px 12px 0 rgba(221,221,221,0.5)
}
#header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#header.header-fixed {
    position: fixed;
}
#header .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
/*logo*/
#header .navbar .navbar-logo {
    display: inline-block;
    padding-top:23px;
    width: 169px;
    margin-left:47px;
}
.top-nav{
    margin-top: 20px;
    margin-right:43px;
}
#header .navbar .nav li{
    margin-left: 10px;
}
#header .navbar .nav li a {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
    width: auto;
    position: relative;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow-x: hidden;
    font-size: 18px;
    text-align: center;
    outline: none;
}
#header .navbar .nav li a:hover,
#header .navbar .nav li a:focus {
    background: #ffffff;
}
#header .navbar .nav-right li a{
    padding: 0;
}
#header .navbar .nav li a .navicon {
    float: left;
    margin: 12px 7px 0 0;
    width: 26px;
    height: 26px;
}
#header .navbar .nav li a .square-4 {
    position: absolute;
    top: 10px;
    right: 12px;
    border-radius: 100%;
}
.square-4 {
    display: inline-block;
    width: 5px;
    height: 5px;
}
.btn-account{
    margin-top: 8px;
    margin-left: 5px;
}
.btn-account .btn-sm{
    padding:3px 10px;
    font-size:18px;
    border-radius: 5px;
}
/* -----------------------------------------
   Sidebar styles
----------------------------------------- */
#sidebar {
    width: 300px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 90px;
    z-index: 99;
}
#sidebar.sidebar-fixed {
    position: fixed;
}
#sidebar:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background:rgba(52,52,52,1);
    z-index: -1;
}
#sidebar .sidebar-inner {
    position: relative;
    width: auto;
    height: 100%;
}
#sidebar #sideNav li {
    float: left;
    width: 100%;
    margin-top: 0;
}
#sidebar #sideNav li:first-child a{
    padding: 30px 15px 30px 90px;
}

#sidebar #sideNav li a {
    font-size: 24px;
    padding: 30px 15px 30px 64px;
    position: relative;
    color: #768399;
    height: 80px;
    border-radius: 0;
    background:rgba(52,52,52,1);
    -webkit-transition: background;
    transition: background;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#sidebar #sideNav li a i {
    font-size: 34px;
    margin-right: 15px;
    float: left;
    color: #ffffff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: auto;
    margin-bottom: 0;
}
#sidebar #sideNav li a i.sideNav-arrow {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}
#sidebar #sideNav li a i.s16 {
    right: 17px;
}
#sidebar #sideNav li a .notification {
    display: none;
}
#sidebar #sideNav li a.active {
    color: #fc3f2b;
}
#sidebar #sideNav li a:hover i,
#sidebar #sideNav li a.active i {
    color: #fc3f2b;
    text-shadow: none;
}
#sidebar #sideNav li a.expand {
    background:rgba(52,52,52,1);
}
#sidebar #sideNav li a.expand i {
    color: #fc3f2b;
}
#sidebar #sideNav li .sub {
    display: none;
}
#sidebar #sideNav li .sub a {
    font-size: 20px;
    background:rgba(52,52,52,1);
    padding-left:75px;
    border-right: 6px solid transparent;
}
#sidebar #sideNav li .sub a.active {
    background:rgba(77,77,77,1);
    font-weight: normal;
    border-right:6px solid  rgba(244,81,56,1);
}
#sidebar #sideNav li .sub a:hover {
    background:rgba(77,77,77,1);
    border-right:6px solid  rgba(244,81,56,1);
}

/* -----------------------------------------
   Content
----------------------------------------- */
#content {
    margin-left: 300px;
    padding-top:90px;
}
#content.sidebar-page {
    margin-left: 300px;
}
#content.full-page {
    margin-left: 0;
}
#content.offCanvas {
    width: 100%;
    margin-left: 300px;
}
#content.overLap {
    margin-left: 0;
}
#content .content-wrapper {
    height: auto;
    float: left;
    width: 100%;
    position: relative;
}
#content .content-wrapper .outlet {
    position: relative;
    padding: 0 43px;
}
#content .content-wrapper .heading:before,
#content .content-wrapper .heading:after {
    content: " ";
    display: table;
}
#content .content-wrapper .heading:after {
    clear: both;
}
#content .content-wrapper .heading h1.page-header {
    font-size: 24px;
    border-bottom: none;
    padding: 0;
    background: #ffffff;
    font-weight: 300;
    width: auto;
}
#content .content-wrapper .heading h1.page-header i {
    font-size: 42px;
    opacity: 0.1;
    filter: alpha(opacity=10);
    margin-right: 10px;
    float: none;
}
#content .content-wrapper .heading h1.page-header [class*="icomoon-"] {
    margin-top: -4px;
}

/*页面面包屑导航*/
#content .content-wrapper .heading .breadcrumb {
    line-height: 20px;
    background: #fff;
    padding: 20px 43px;
    margin-bottom: 0;
}
#content .content-wrapper .heading .breadcrumb i {
    color: #acb1b8;
    font-size: 26px;
    padding: 0 5px;
    margin-top: -3px;
}

#content .content-wrapper .heading .breadcrumb > li {
    display: inline-block;
    font-size:22px;
}
#content .content-wrapper .heading .breadcrumb > li:nth-child(2){
    font-size: 20px
}
#content .content-wrapper .heading .breadcrumb > li:nth-child(3){
    font-size: 18px
}
#content .content-wrapper .heading .breadcrumb > li + li:before {
    content: "";
    display: none;
}

/*footer*/
.footer{
    position: inherit;
    bottom: 0;
    text-align: center;
    padding:15px;
    background: #f3f5f6;
    width: 100%;
}

