html{
    font-family: Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,sans-serif,fantasy,cursive;
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    min-height: 100%;
    background: #f4f4f4;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    -webkit-transition: -webkit-transform 0.4s ease !important;
    transition: transform 0.4s ease !important;
    position: relative;
    font-size: 14px;
}
body.stop-scrolling {
    height: 100%;
    overflow: hidden;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
}
a:hover{
    color: rgba(244,81,56,1);
}
/* ------------------ Sizes --------------------*/
.f18{
    font-size:1.8rem;
}
/* ------------------ Margins --------------------*/

.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.mt5{
    margin-top: 5px;!important;
}
.mt10{
    margin-top: 10px;!important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mr10{
    margin-right:10px;!important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mr50 {
    margin-right: 50px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30{
    margin-bottom: 30px;!important;
}

.mb50 {
    margin-bottom: 50px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
/* ------------------ Paddings --------------------*/
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.w460{
    width: 460px;
}
.form-group{
    display: flex;
}
.m43{
    margin-left: 43px;
}
.ml100{
    margin-left: 100px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
/*------------------color---------------------*/
.label-star{
    display: inline-block;
    color:rgba(244,21,33,1);
    width: 10px;
}
/* ------------------ Typo --------------------*/
.normal {
    font-weight: normal;
}
/* -----------------------------------------
   Header styles
----------------------------------------- */
#header {
    height: 90px;
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
    background:rgba(255,255,255,1);
    box-shadow: 0 2px 12px 0 rgba(221,221,221,0.5)
}
#header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#header.header-fixed {
    position: fixed;
}
#header .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
/*logo*/
#header .navbar .navbar-logo {
    display: inline-block;
    margin-top:22px;
    margin-left:30px;
}
#header .navbar .navbar-logo img{
    width: 169px;
    height: 46px;
}
.top-nav{
    margin-top: 22px;
    margin-right:30px;
}
#header .navbar .nav li{
    margin-left: 10px;
}
#header .navbar .nav li a {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
    width: auto;
    position: relative;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow-x: hidden;
    font-size: 14px;
    text-align: center;
    outline: none;
}
#header .navbar .nav li a:hover,
#header .navbar .nav li a:focus {
    background: #ffffff;
}
#header .navbar .nav-right li a{
    padding: 0;
}
#header .navbar .nav li a .navicon {
    float: left;
    margin: 12px 7px 0 0;
    width: 26px;
    height: 26px;
}
#header .navbar .nav li a .square-4 {
    position: absolute;
    top: 10px;
    right: 12px;
    border-radius: 100%;
}
.square-4 {
    display: inline-block;
    width: 5px;
    height: 5px;
}
.btn-account{
    margin-top: 10px;
    margin-left: 5px;
}
.btn-account .btn-sm{
    padding:3px 10px;
    font-size:14px;
    border-radius:5px;
}
/*组织架构后台header*/
.group-nav{
    float: left;
    position: relative;
    left:50%;
    margin-left:-480px;
    bottom:0;
}
.group-nav a{
    display: inline-block;
    font-size: 16px;
    color: #666666;
    margin:50px 15px 0 15px;
    padding:0 10px 15px 10px;
    border-bottom:2px solid transparent;
}
.group-nav a:hover{
    text-decoration: none;
    color: #F45138;
    border-bottom-color:#F45138 ;
}
.group-nav a.active{
    text-decoration: none;
    color: #F45138;
    border-bottom-color:#F45138 ;
}
/* -----------------------------------------
   Sidebar styles
----------------------------------------- */
#sidebar {
    width: 240px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 90px;
    z-index: 99;
}
#sidebar.sidebar-fixed {
    position: fixed;
}
#sidebar:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    background:rgba(52,52,52,1);
    z-index: -1;
}
#sidebar .sidebar-inner {
    position: relative;
    width: auto;
    height: 100%;
}
#sidebar #sideNav li {
    float: left;
    width: 100%;
    margin-top: 0;
}
#sidebar #sideNav li:first-child a{
    padding: 20px 15px 15px 50px  ;
}
#sidebar #sideNav li a {
    font-size: 18px;
    padding: 20px 15px 15px 50px;
    position: relative;
    color: #768399;
    border-radius: 0;
    background:#343434;
    -webkit-transition: background;
    transition: background;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#sidebar #sideNav li a i {
    font-size: 24px;
    margin-right: 15px;
    float: left;
    color: #ffffff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: auto;
    margin-bottom: 0;
}
#sidebar #sideNav li a i.sideNav-arrow {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}
#sidebar #sideNav li a .notification {
    display: none;
}
#sidebar #sideNav li a.active {
    color: #fc3f2b;
}
#sidebar #sideNav li a:hover i,
#sidebar #sideNav li a.active i {
    color: #fc3f2b;
    text-shadow: none;
}
#sidebar #sideNav li a.expand {
    background:#343434
}
#sidebar #sideNav li a.expand i {
    color: #fc3f2b;
}
#sidebar #sideNav li .sub {
    display: none;
}
#sidebar #sideNav li .sub a {
    font-size: 16px;
    background:#343434;
    padding-left:65px;
    border-right: 3px solid transparent;
}
#sidebar #sideNav li .sub a.active {
    background:#4D4D4D;
    font-weight: normal;
    border-right:3px solid  rgba(244,81,56,1);
}
#sidebar #sideNav li .sub a:hover {
    background:#4D4D4D;
    border-right:3px solid  rgba(244,81,56,1);
}

/* -----------------------------------------
   Content
----------------------------------------- */
#content-admin{
    margin-left: 0;
    padding-top:90px;
}
#content {
    margin-left: 240px;
    padding-top: 90px;
}
#content.sidebar-page {
    margin-left: 240px;
}

#content .content-wrapper {
    height: auto;
    float: left;
    width: 100%;
    position: relative;
}
#content .content-wrapper .pages {
    position: relative;
    padding: 0 20px 30px 20px;
}
.working-pages{
    margin: 30px 20px;
}
/*页面面包屑导航*/
#content .content-wrapper .heading .breadcrumb {
    line-height: 20px;
    background: #fff;
    padding: 20px;
    margin-bottom: 0;
}
#content .content-wrapper .heading .breadcrumb i {
    color: #acb1b8;
    font-size: 18px;
    padding: 0 5px;
    margin-top: -3px;
}
#content .content-wrapper .heading .breadcrumb > li {
    display: inline-block;
    font-size:16px;
    color: #999999;
}
#content .content-wrapper .heading .breadcrumb > li + li:before {
    content: "";
    display: none;
}
/*footer*/
.footer{
    position: inherit;
    bottom: 0;
    text-align: center;
    background: #4d4d4d;
    width: 100%;
    color: #888888;
    height: 90px;
    line-height: 90px;
    font-size: 14px;
}

